---
layout: default
---
<div class="row dashed-border">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2>{{ page.title }}</h2>
        <h3>
            <small>
                <span class="glyphicon glyphicon-calendar"></span> {{ page.date | date_to_string }}
                <span class="glyphicon"></span> <!-- spacer -->
                <span class="glyphicon glyphicon-folder-open"></span> Categories: 
                {% for category in page.categories %}
                    <a class="label label-primary" href="/categories.html#{{ category | capitalize }}">{{ category | capitalize }}</a>
                {% endfor %}
                <span class="glyphicon"></span> <!-- spacer -->
                <span class="glyphicon glyphicon-tags"></span> Tags:
                {% for tag in page.tags %}
                    <span class="label label-default">{{ tag }}</span>
                {% endfor %}
            </small>
        </h3>

        <div class="row">
                {{ content }}
        </div>
        {% include social_buttons.html %}
        <div class="row" style="margin-top:10px;">
            {% include disqus.html %}
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
